schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="roll" type="xs:unsignedByte" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="dept" type="xs:string" />
        <xs:element name="avg" type="xs:decimal" />
        <xs:element name="dob" type="xs:string" />
        <xs:element name="time" type="xs:time" />
        <xs:element name="mobile">
          <xs:complexType>
            <xs:attribute name="no" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>